html {
  height: 100%;
  font-family: sans-serif;
  overflow-x: auto;
  overflow-y: hidden;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.light {
  border-radius: 100%;
  background: #222;
  margin: 10px;
}

.light::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.light-strip.on .light:nth-child(1n + 3) {
  background: #21a1b2;
}

.f1-lights {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 520px;
}

.light-strip {
  background: black;
  border-radius: 11px;
  margin: 0 2px;
  position: relative;
  flex: 1;
}

@media (min-width: 435px) {
  .light-strip {
    margin: 0 5px;
    border-radius: 14px;
  }
}

.back-board {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 50%;
  height: 5%;
  background: #000;
  transform: translateY(-50%);
}

p {
  font-size: 24.5px;
  text-align: center;
  line-height: 1.4;
  margin: 1em;
  margin-bottom: 0;
  font-family: "Noto Sans";
}

.time {
  font-size: 6vw;
  line-height: 1;
  margin: 1rem;
  text-transform: uppercase;
  will-change: transform;
  text-align: center;
  font-family: "Kode Mono";
}

.time.anim {
  animation: bang 0.14s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.best {
padding: 2px;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
  font-family: "Kode Mono";
}

.banner {
  position: fixed;
    top: 18%;
    left: -2.2%;
    background-color: rgba(255, 0, 0, 0.824);
    color: white;
    padding: 0.3% 1.1%;
    font-size: 2rcap;
    transform: rotate(-45deg);
    transform-origin: 0 0;
    z-index: 0; /* Ensure it stays on top */
    width: 200px; /* Adjust width as necessary */
    text-align: center; /* Center the text */
    font-family: "Inter";
}

.credit {
  padding: 2px;
  font-size: 23px;
  text-align: center;
  line-height: 1;
  font-family: "Inter";
}

/* .border {
  padding:3px;
  border: 1px solid #ada6a6;
  border-radius: 1rcap;
  text-overflow: inherit;
} */

.border {
  border: 1px solid grey;
  padding: 1%;
  border-radius: 1rcap;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('noto-sans.ttf');
}

@font-face {
  font-family: "Kode Mono";
  src: url('kode-mono.ttf');
}

@font-face {
  font-family: "Inter";
  src: url('inter.ttf');
}

@font-face {
  font-family: "Inter Tight";
  src: url('inter-tight.ttf');
}

@keyframes bang {
  from {
    transform: scale(2.5);
  }
}

a {
  text-decoration: underline;
  color: #208817;
}

