html {
  height: 100%;
  font-family: sans-serif;
  overflow-x: auto;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.light {
  border-radius: 100%;
  background: #222;
  margin: 10px;
}

.light::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.light-strip.on .light:nth-child(1n + 3) {
  background: #21a1b2;
}

.f1-lights {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 520px;
}

.light-strip {
  background: black;
  border-radius: 11px;
  margin: 0 2px;
  position: relative;
  flex: 1;
}

@media (min-width: 435px) {
  .light-strip {
    margin: 0 5px;
    border-radius: 14px;
  }
}

.back-board {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 50%;
  height: 5%;
  background: #000;
  transform: translateY(-50%);
}

p {
  font-size: 120%;
  text-align: center;
  line-height: 1.4;
  margin: 1em;
  margin-bottom: 0;
  font-family: "Noto Sans";
}

.time {
  font-size: 6rcap;
  line-height: 1;
  margin: 1rem;
  text-transform: uppercase;
  will-change: transform;
  text-align: center;
  font-family: "Kode Mono";
}

.time.anim {
  animation: bang 0.14s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.best {
  padding: 2px;
  font-size: 125%;
  text-align: center;
  line-height: 1.2;
  font-family: "Kode Mono";
}


.credit {
  padding: 2px;
  font-size: 125%;
  text-align: center;
  line-height: 1;
  font-family: "Inter";
}

/* .border {
  padding:3px;
  border: 1px solid #ada6a6;
  border-radius: 1rcap;
  text-overflow: inherit;
} */

.border {
  border: 1px solid grey;
  padding: 1%;
  border-radius: 1rcap;
}


#floating-badge {
  font-family: "Inter";
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  background-color: rgba(239, 8, 8, 0.952);
  color: white;
  border-radius: 50%;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  animation: sizeChange 2s infinite;
  transition: transform 0.5s, opacity 0.5s;
}

/* Animation for the size increase and decrease effect */
@keyframes sizeChange {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.2);
  }
}


@font-face {
  font-family: 'Noto Sans';
  src: url('noto-sans.ttf');
}

@font-face {
  font-family: "Kode Mono";
  src: url('kode-mono.ttf');
}

@font-face {
  font-family: "Inter";
  src: url('inter.ttf');
}

@font-face {
  font-family: "Inter Tight";
  src: url('inter-tight.ttf');
}

@keyframes bang {
  from {
    transform: scale(2.5);
  }
}

a {
  text-decoration: underline;
  color: #208817;
}

